.card {
    border-color: #3e4c4c;
    border-radius: 5%;
    margin: 10px;
    width: 17rem;
    height: 25rem;
    transition: all .3s;
    background: #f9f5f7ef;
    
    -webkit-box-shadow: 5px 5px 15px 5px #a8dbce; 
    box-shadow: 5px 5px 15px 5px #1e31318c;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    
  }

    
  .card-title {
    font-size: 20px;
    margin-bottom: 0%;
    padding-top: 10%;
    
  }

  .card-image{
    margin-top: 10%;
    width: 90%;
    padding: 1px;
    box-sizing: border-box;
    border: solid 10px rgba(7, 12, 12, 0.824) ;
    background-color: rgba(12, 12, 12, 0.834);
  }
  
  .card-data{
    color: rgb(20, 22, 22);
    font-size: 12px;
    margin-top: 0px;
  }
