.card {
    border-color: #3e4c4c;
    border-radius: 5%;
    margin: 20px;
    width: 21rem;
    height: 30rem;
    transition: all .3s;
    background: #f9f5f7d2;
    
    -webkit-box-shadow: 5px 5px 15px 5px #a8dbce; 
    box-shadow: 5px 5px 15px 5px #1e31318c;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
   .card:hover {
    margin-top: -30px;}
    
  .card-title {
    font-size: 22px;
    margin-bottom: 15px;
    
  }

  .card-image{
    width: 90%;
    padding: 4px;
    margin-left: 15px;
    box-sizing: border-box;
    border: solid 1px rgba(23, 42, 41, 0.824) ;
    background-color: rgba(102, 116, 113, 0.834);
  }
  
  .card-data{
    color: rgb(20, 22, 22);
    font-size: 14px;
    margin-top: 0px;
  }
